/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --font-family: "Montserrat", Arial, Helvetica, sans-serif;
  --second-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
  --inter-family: "Inter", sans-serif;
  --playfair-family: "Playfair Display", sans-serif;
  --fz-primary: 16px;
  --fz-main: 20px;
  --fz-secondary: 18px;
  --fz-h1: 55px;
  --fz-h2: 36px;
  --fz-h3: 24px;
  --fz-accent: 100px;
  --primary: #f5c3c4;
  --secondary: #FADEDF;
  --white: #fff;
  --black: #252525;
  --gray: #E3E3E3;
  --green: #a1c89f;
  --main-text: var(--black);
  --accent-text: var(--green);
  --bg-base: var(--white);
  --bg-accent: var(--primary);
  --radius-1: 60px;
  --radius-2: 40px;
  --radius-3: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 140%;
  color: var(--black);
}
@media (max-width: 1250px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 788px) {
  body {
    font-size: 12px;
  }
}

a:focus,
button:focus,
a:active,
button:active {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.section {
  padding: 70px 0;
}
@media (max-width: 1250px) {
  .section {
    padding: 50px 0;
  }
}
@media (max-width: 788px) {
  .section {
    padding: 20px 0;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .container {
    width: 768px;
    padding: 0 15px;
  }
}
@media (max-width: 788px) {
  .container {
    width: 360px;
  }
}
@media (max-width: 1250px) {
  .container--tablet-fluid {
    width: auto;
  }
}
@media (max-width: 788px) {
  .container--mobile-fluid {
    width: auto;
  }
}

.main {
  margin-bottom: 80px;
}
@media (max-width: 1250px) {
  .main {
    margin-bottom: 60px;
  }
}
@media (max-width: 788px) {
  .main {
    margin-bottom: 40px;
  }
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 788px) {
  .main__wrapper {
    row-gap: 40px;
  }
}

.header__wrapper {
  padding: 24px 0;
  border-bottom: 2px solid var(--gray);
}
@media (max-width: 1250px) {
  .header__wrapper {
    padding: 16px 0;
  }
}
@media (max-width: 788px) {
  .header__wrapper {
    padding: 10px 0;
    border-width: 1px;
  }
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 788px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
  width: 32px;
  height: 32px;
  border-radius: 10px;
}
@media (max-width: 788px) {
  .header__nav-btn {
    display: block;
  }
}
.header__nav-btn:active {
  outline: none;
  transform: scale(0.9);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.1);
  box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.1);
}
.header__nav-btn.hidden {
  display: none;
}
.header__nav-btn img {
  width: 24px;
}

.header__rosmol {
  max-width: 244px;
}
@media (max-width: 1250px) {
  .header__rosmol {
    max-width: 170px;
  }
}
@media (max-width: 788px) {
  .header__rosmol {
    max-width: 120px;
  }
}

.main-nav__list {
  display: flex;
  column-gap: 80px;
}
@media (max-width: 1250px) {
  .main-nav__list {
    gap: 50px;
  }
}
@media (max-width: 788px) {
  .main-nav__list {
    gap: 15px;
  }
}

.main-nav__link,
a.main-nav__link {
  font-size: 18px;
  color: var(--main-text);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1250px) {
  .main-nav__link,
  a.main-nav__link {
    font-size: 16px;
  }
}
@media (max-width: 788px) {
  .main-nav__link,
  a.main-nav__link {
    font-size: 14px;
  }
}
.main-nav__link:hover,
a.main-nav__link:hover {
  color: #7d7d7d;
  transition: all 0.2s ease-in-out;
}

.mob-nav {
  display: none;
}
.mob-nav.active {
  position: fixed;
  top: 59px;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: calc(100vh - 59px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
}

.mob-nav__list {
  padding: 20px;
  background-color: #fff;
  border-bottom-left-radius: var(--radius-3);
  border-bottom-right-radius: var(--radius-3);
}

.mob-nav__item {
  text-align: center;
}
.mob-nav__item:not(:last-child) {
  margin-bottom: 16px;
}

.mob-nav__link,
a.mob-nav__link {
  font-size: 16px;
  color: var(--maint-text);
  transition: color 0.2s ease-in-out;
}
.mob-nav__link:active,
a.mob-nav__link:active {
  color: var(--gray);
  transition: color 0.2s ease-in-out;
}

.hero__wrapper {
  padding: 45px 0 70px;
}
@media (max-width: 1250px) {
  .hero__wrapper {
    padding: 30px 0 50px;
  }
}
@media (max-width: 788px) {
  .hero__wrapper {
    padding: 20px 0;
  }
}

@media (max-width: 788px) {
  .hero__special-card {
    display: none;
  }
}

.hero__mobile {
  display: none;
}
@media (max-width: 788px) {
  .hero__mobile {
    display: block;
  }
}

.hero__mobile-title {
  margin-bottom: 20px;
  text-align: center;
}

.hero__mobile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--radius-3);
}

.promo {
  background-color: var(--bg-accent);
}

.promo__slider {
  margin-bottom: 50px;
}
@media (max-width: 1250px) {
  .promo__slider {
    margin-bottom: 30px;
  }
}
@media (max-width: 788px) {
  .promo__slider {
    margin-bottom: 20px;
  }
}

.promo__additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}
@media (max-width: 1250px) {
  .promo__additional {
    column-gap: 30px;
  }
}
@media (max-width: 788px) {
  .promo__additional {
    column-gap: 20px;
  }
}

.promo__item {
  flex: 1;
  padding: 42px 50px;
  position: relative;
  border-radius: var(--radius-1);
  background-color: var(--bg-base);
}
@media (max-width: 1250px) {
  .promo__item {
    padding: 27px 40px;
    border-radius: var(--radius-2);
  }
}
@media (max-width: 788px) {
  .promo__item {
    padding: 12px 12px;
    border-radius: var(--radius-3);
  }
}

.promo__index {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 100px;
  line-height: 120%;
  color: var(--accent-text);
}
@media (max-width: 1250px) {
  .promo__index {
    font-size: 63px;
  }
}
@media (max-width: 788px) {
  .promo__index {
    font-size: 30px;
    line-height: 116%;
  }
}

.promo__caption {
  font-size: 20px;
  line-height: 140%;
}
@media (max-width: 1250px) {
  .promo__caption {
    font-size: 14px;
  }
}
@media (max-width: 788px) {
  .promo__caption {
    font-size: 8px;
  }
}

.promo__img {
  position: absolute;
  bottom: 2px;
  right: 55px;
}
@media (max-width: 1250px) {
  .promo__img {
    right: 33px;
  }
}
@media (max-width: 788px) {
  .promo__img {
    bottom: 1px;
    right: 15px;
  }
}
.promo__img img {
  height: 272px;
}
@media (max-width: 1250px) {
  .promo__img img {
    height: 170px;
  }
}
@media (max-width: 788px) {
  .promo__img img {
    height: 77px;
  }
}

.about-project__title {
  margin-bottom: 37px;
  text-align: center;
}
@media (max-width: 1250px) {
  .about-project__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 788px) {
  .about-project__title {
    margin-bottom: 18px;
  }
}

.about-project__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}
@media (max-width: 1250px) {
  .about-project__body {
    flex-direction: column;
    align-items: stretch;
    row-gap: 30px;
  }
}
@media (max-width: 788px) {
  .about-project__body {
    row-gap: 18px;
  }
}

.about-project__item {
  flex: 1;
}

.about-project__content {
  padding: 50px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  overflow: hidden;
}
@media (max-width: 1250px) {
  .about-project__content {
    padding: 30px;
  }
}
@media (max-width: 788px) {
  .about-project__content {
    padding: 20px;
  }
}
.about-project__content p {
  width: 90%;
}
@media (max-width: 1250px) {
  .about-project__content p {
    width: 100%;
  }
}
.about-project__content p.restricted {
  width: 367px;
}
@media (max-width: 1250px) {
  .about-project__content p.restricted {
    width: 425px;
  }
}
@media (max-width: 788px) {
  .about-project__content p.restricted {
    width: 224px;
  }
}

.about-project__diagramm {
  position: absolute;
  bottom: 4px;
  right: 20px;
}
@media (max-width: 1250px) {
  .about-project__diagramm {
    right: 70px;
    bottom: 2px;
  }
}
@media (max-width: 788px) {
  .about-project__diagramm {
    right: 17px;
  }
}

.about-game__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 95px;
}
@media (max-width: 1250px) {
  .about-game__body {
    flex-direction: column;
    row-gap: 40px;
  }
}
@media (max-width: 788px) {
  .about-game__body {
    row-gap: 20px;
  }
}

.about-game__headers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 70px;
}
@media (max-width: 1250px) {
  .about-game__headers {
    flex-direction: row;
    column-gap: 30px;
  }
}
@media (max-width: 788px) {
  .about-game__headers {
    flex-direction: column;
    row-gap: 20px;
  }
}

.about-game__header {
  flex: 1;
}

.about-game__title {
  margin-bottom: 20px;
}
@media (max-width: 1250px) {
  .about-game__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 788px) {
  .about-game__title {
    margin-bottom: 5px;
  }
}

@media (max-width: 788px) {
  .about-game__content {
    max-width: 255px;
  }
}
.about-game__content p.restricted {
  max-width: 460px;
}
@media (max-width: 1250px) {
  .about-game__content p.restricted {
    max-width: 310px;
  }
}
@media (max-width: 1250px) {
  .about-game__content p.restricted {
    max-width: 230px;
  }
}

.about-game__img {
  max-width: 566px;
}
@media (max-width: 1250px) {
  .about-game__img {
    margin: 0 auto;
    max-width: 433px;
  }
}

.footer {
  padding: 60px 0;
  background-color: var(--bg-accent);
  font-family: var(--inter-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--main-text);
}
@media (max-width: 1250px) {
  .footer {
    padding-top: 32px;
    font-size: 12px;
  }
}
@media (max-width: 788px) {
  .footer {
    padding-top: 24px;
  }
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1250px) {
  .footer__body {
    gap: 20px;
  }
}
@media (max-width: 788px) {
  .footer__body {
    flex-direction: column;
    align-items: center;
  }
}

.footer__logo {
  width: 244px;
}
@media (max-width: 1250px) {
  .footer__logo {
    width: 200px;
  }
}
@media (max-width: 788px) {
  .footer__logo {
    width: 150px;
  }
}

.footer__content {
  max-width: 444px;
}
@media (max-width: 1250px) {
  .footer__content {
    max-width: 340px;
  }
}
.footer__content p {
  text-align: center;
}

.footer__subtitle {
  font-weight: 600;
}
@media (max-width: 1250px) {
  .footer__subtitle {
    text-align: center;
  }
}
.footer__email {
  margin-bottom: 10px;
}

.logo {
  display: block;
  padding: 10px 24px;
  text-transform: uppercase;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 23px;
  background-color: var(--bg-accent);
  border-radius: 60px;
}
@media (max-width: 1250px) {
  .logo {
    padding: 8px 16px;
    font-size: 16px;
  }
}
@media (max-width: 788px) {
  .logo {
    padding: 4px 7px;
    font-size: 12px;
  }
}
.logo span {
  color: var(--white);
}

.logo__accent {
  font-size: 32px;
}
@media (max-width: 1250px) {
  .logo__accent {
    font-size: 23px;
  }
}
@media (max-width: 788px) {
  .logo__accent {
    font-size: 16px;
  }
}

.title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: var(--fz-h1);
  line-height: 120%;
  color: var(--main-text);
}
@media (max-width: 1250px) {
  .title {
    font-size: var(--fz-h2);
  }
}
@media (max-width: 788px) {
  .title {
    font-size: var(--fz-h3);
  }
}
.title--md {
  font-size: 38px;
}
@media (max-width: 1250px) {
  .title--md {
    font-size: 24px;
  }
}
@media (max-width: 788px) {
  .title--md {
    font-size: 16px;
  }
}

.special-card {
  --border-raduis: 60px;
  --before-color: transparent;
}
@media (max-width: 1250px) {
  .special-card {
    --border-raduis: 40px;
  }
}
@media (max-width: 788px) {
  .special-card {
    --border-raduis: 20px;
  }
}

.special-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-raduis);
  background-color: var(--secondary);
}
.special-card--hero {
  min-height: 500px;
  background-image: url("../img/hero/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1170px 553px;
}
@media (max-width: 1250px) {
  .special-card--hero {
    min-height: 698px;
    background-size: 1478px 698px;
    background-position-x: 82%;
  }
}

.speicial-card__header {
  display: flex;
}

.special-card__title {
  max-width: 635px;
  padding: 40px;
  background-color: #fff;
  border-bottom-right-radius: var(--border-raduis);
}
@media (max-width: 1250px) {
  .special-card__title {
    padding: 30px;
  }
}
@media (max-width: 788px) {
  .special-card__title {
    padding: 20px;
  }
}

.special-card--hero .special-card__title {
  padding-top: 0;
  padding-left: 0;
}

.special-card__agregator {
  flex: 1;
  position: relative;
}
.special-card__agregator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--border-raduis) * 1.5);
  height: 50%;
  border-top-left-radius: var(--border-raduis);
  box-shadow: calc(var(--border-raduis) * -0.4) calc(var(--border-raduis) * -0.2) 0 5px #fff;
  background-color: var(--before-color);
}
@media (max-width: 788px) {
  .special-card__agregator::before {
    box-shadow: calc(var(--border-raduis) * -0.4) calc(var(--border-raduis) * -0.2) 0 4px #fff;
  }
}

.special-card__content {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.special-card__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--border-raduis) * 1.5);
  height: 50%;
  border-top-left-radius: var(--border-raduis);
  box-shadow: calc(var(--border-raduis) * -0.3) calc(var(--border-raduis) * -0.4) 0 5px #fff;
  background-color: var(--before-color);
}

.promo-article {
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 40px;
  border-radius: var(--radius-1);
  background-color: var(--bg-base);
  background-image: url("../img/background/pulse-lg.svg");
  background-size: contain;
  background-position: center 90%;
  background-repeat: no-repeat;
}
@media (max-width: 1250px) {
  .promo-article {
    padding: 30px;
    border-radius: var(--radius-2);
    background-position: center 85%;
    background-image: url("../img/background/pulse-md.svg");
  }
}
@media (max-width: 788px) {
  .promo-article {
    padding: 20px;
    flex-direction: column-reverse;
    row-gap: 62px;
    border-radius: var(--radius-3);
    background-position: center 25%;
    background-image: url("../img/background/pulse-sm.svg");
  }
}

.promo-article__img {
  flex-shrink: 0;
  border-radius: var(--radius-1);
  overflow: hidden;
  width: 420px;
  height: 420px;
}
@media (max-width: 1250px) {
  .promo-article__img {
    width: 326px;
    height: 326px;
    border-radius: var(--radius-2);
  }
}
@media (max-width: 788px) {
  .promo-article__img {
    width: 290px;
    height: 208px;
    border-radius: var(--radius-3);
  }
}

.promo-article__title {
  margin-bottom: 20px;
}
@media (max-width: 1250px) {
  .promo-article__title {
    margin-bottom: 10px;
  }
}

.promo-article__content {
  max-width: 491px;
}
@media (max-width: 1250px) {
  .promo-article__content {
    max-width: 260px;
  }
}
@media (max-width: 788px) {
  .promo-article__content {
    max-width: 230px;
  }
}

.slider {
  position: relative;
}

.slider__control {
  position: absolute;
  top: 50%;
  width: 80px;
  height: 80px;
  border: 10px solid var(--bg-accent);
  border-radius: 50%;
  background-color: var(--bg-base);
}
@media (max-width: 1250px) {
  .slider__control {
    width: 50px;
    height: 50px;
    border: 6px solid var(--bg-accent);
  }
}
@media (max-width: 788px) {
  .slider__control {
    top: 31%;
    width: 40px;
    height: 40px;
    border: 4px solid var(--bg-accent);
  }
}
.slider__control::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  background-image: url("../img/icons/chevron.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 788px) {
  .slider__control::before {
    width: 12px;
    height: 12px;
  }
}
.slider__control--previous {
  left: 0;
  transform: translate(-50%, -50%);
}
.slider__control--previous::before {
  transform: translate(-60%, -50%) scaleX(-1);
}
.slider__control--next {
  right: 0;
  transform: translate(50%, -50%);
}

.diagramm {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.diagramm__col {
  width: 34px;
  border: 1px solid #2B2A29;
  border-bottom: none;
}
@media (max-width: 1250px) {
  .diagramm__col {
    width: 46px;
  }
}
@media (max-width: 788px) {
  .diagramm__col {
    width: 18px;
  }
}
.diagramm__col--1 {
  height: 329px;
  background-color: #a1c89f;
}
@media (max-width: 1250px) {
  .diagramm__col--1 {
    height: 166px;
  }
}
@media (max-width: 788px) {
  .diagramm__col--1 {
    height: 147px;
  }
}
.diagramm__col--2 {
  height: 421px;
  background-color: #fff;
}
@media (max-width: 1250px) {
  .diagramm__col--2 {
    height: 231px;
  }
}
@media (max-width: 788px) {
  .diagramm__col--2 {
    height: 188px;
  }
}
.diagramm__col--3 {
  height: 248px;
  background-color: #c59cb4;
  border-bottom-right-radius: 37px;
}
@media (max-width: 1250px) {
  .diagramm__col--3 {
    height: 120px;
    border-bottom-right-radius: 0;
  }
}
@media (max-width: 788px) {
  .diagramm__col--3 {
    height: 111px;
  }
}

.social__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1250px) {
  .social__list {
    justify-content: center;
  }
}

.social__link,
a.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  width: 40px;
  height: 40px;
  background-color: var(--bg-base);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1250px) {
  .social__link,
  a.social__link {
    width: 30px;
    height: 30px;
  }
  .social__link img,
  a.social__link img {
    width: 14px;
  }
}
.social__link:hover,
a.social__link:hover {
  background-color: #d9d9d9;
}
.social__link:active,
a.social__link:active {
  filter: invert(100%);
}

a.social__link--tg img {
  transform: translateX(-1px);
}

.btn,
a.btn {
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #039be5;
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in;
}
.btn:hover,
a.btn:hover {
  background-color: #5ac1f5;
}
.btn--wide,
a.btn--wide {
  width: 100%;
}

.btn-link,
a.btn-link {
  padding: 6px 10px;
  border-radius: 3px;
  background-color: #f2f2f2;
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.2s ease-in;
}
@media (max-width: 788px) {
  .btn-link,
  a.btn-link {
    padding: 10px;
  }
}
.btn-link:hover,
a.btn-link:hover {
  background-color: #c2c0c0;
}
/*# sourceMappingURL=style.css.map */
