section.section.about-game
  .container
    .about-game__body
      .about-game__headers
        .about-game__header
          h2.about-game__title.title Об игре
          .about-game__content
            p.restricted Настольная карточная игра &laquo;ПедиЯтрика&raquo; состоит из&nbsp;поля и&nbsp;трех типов карточек с&nbsp;вопросами про детский организм, первую помощь и&nbsp;не&nbsp;только
        .about-game__header
          h2.about-game__title.title Для кого
          .about-game__content
            p Предназначена для школьников 9-11 классов с&nbsp;целью развития у&nbsp;них интереса к&nbsp;профессии врача-педиатра и&nbsp;популяризации направления &laquo;Педиатрия&raquo; среди абитуриентов
      .about-game__img
        picture
          //- source(srcset="img/promo/game-piece.webp", type="image/webp", media="(max-width: 788px)")
          //- source(srcset="img/promo/game-piece.png", type="image/png", media="(max-width: 1250px)")
          source(srcset="img/about-game/game-field.webp", type="image/webp")
          //- source(srcset="img/about-game/game-field.jpg", type="image/jpeg")
          img(src="img/about-game/game-field.png", alt="Игровое поле")