section.section.about-project
  .container
    h2.title.about-project__title О проекте
    .about-project__body
      .about-project__item.about-project__item--lg
        +special-card('Актуальность')
          .about-project__content
            p.restricted.
              Многие школьники и абитуриенты не знают о специальности "Педиатрия", а если знают - то лишь немногие решают на нее поступать, боясь сложностей в обучении и будущей работе. Наш проект рассказывает о том, как интересен организм ребенка и о плюсах работы врачом-педиатром
            .about-project__diagramm.diagramm
              .diagramm__col.diagramm__col--1
              .diagramm__col.diagramm__col--2
              .diagramm__col.diagramm__col--3
      .about-project__item.about-project__item--sm
        +special-card('Цель проекта')
          .about-project__content
            p.
              Целью проекта является популяризация педиатрического профиля, повышение заинтересованности в поступлении на эту медицинскую специальность посредством проведения образовательных программ, тренингов в интерактивном формате среди школьников 9-11 классов, проживающих во время учебного процесса на территории Белгородской области