section.section.about-project
  .container
    h2.title.about-project__title О проекте
    .about-project__body
      .about-project__item
        +special-card('Актуальность')
          .about-project__content
            p.restricted.
              Многие школьники и&nbsp;абитуриенты не&nbsp;знают о&nbsp;специальности &laquo;Педиатрия&raquo;, а&nbsp;если знают&nbsp;&mdash; то&nbsp;лишь немногие решают на&nbsp;нее поступать, боясь сложностей в&nbsp;обучении и&nbsp;будущей работе. Наш&nbsp;проект рассказывает о&nbsp;том, как интересен организм ребенка и&nbsp;о&nbsp;плюсах работы врачом-педиатром
            .about-project__diagramm.diagramm
              .diagramm__col.diagramm__col--1
              .diagramm__col.diagramm__col--2
              .diagramm__col.diagramm__col--3
      .about-project__item
        +special-card('Цель проекта')
          .about-project__content
            p.
              Целью проекта является популяризация педиатрического профиля, повышение заинтересованности в&nbsp;поступлении на&nbsp;эту медицинскую специальность посредством проведения образовательных программ, тренингов в&nbsp;интерактивном формате среди школьников 9&ndash;11&nbsp;классов, проживающих во&nbsp;время учебного процесса на&nbsp;территории Белгородской области