footer.footer#footer
  .container
    .footer__body
      .footer__logo
        picture
          //- source(srcset="img/logo/logo-main-sm.png", media="(max-width: 788px)")
          img(src="img/logo/rosmol.png", alt="Росмолодежь")
      .footer__content
        p Проект реализуется при поддержке Росмолодежь.Гранты и кафедры педиатрии Медицинского Института ФГАОУ ВО НИУ «БелГУ»
      .footer__contacts
        h4.footer__subtitle Связаться с нами:
        p.footer__email evg-tat123@yandex.ru
        ul.footer__social.social__list
          li.social__item
            a.social__link.social__link--tg(href="#!")
              img(src="img/icons/telegram.svg", alt="Telegram")
          li.social__item
            a.social__link(href="#!")
              img(src="img/icons/vk.svg", alt="VK")