header.header
	.container
		.header__wrapper
			.header__row
				.header__logo
					a.logo(href="#!") 
						span.logo__normal педи
						span.logo__accent я
						span.logo__normal трика
				.header__nav
					nav.main-nav
						ul.main-nav__list 
							li.main-nav__item 
								a.main-nav__link(href="#!") О проекте
							li.main-nav__item 
								a.main-nav__link(href="#!") Об игре
				a(href="#!").header__rosmol
					picture
						//- source(srcset="img/logo/logo-main-sm.png", media="(max-width: 788px)")
						img(src="img/logo/rosmol.png", alt="Росмолодежь")