.mob-nav#mobile-nav
  .container
    nav.mob-nav__body
      ul.mob-nav__list
        li.mob-nav__item
          a(href="#!").mob-nav__link О проекте
        li.mob-nav__item
          a(href="#!").mob-nav__link Контакты