-
  const articles = [
    {
      id: '01',
      content: 'Интересные знакомства и&nbsp;погружение в&nbsp;профессию на&nbsp;трехдневном форуме',
    },
    {
      id: '02',
      content: 'Ориентация школьников 9-11 классов в&nbsp;медицину через интерактивные тренинги',
    },
    {
      id: '03',
      content: 'Уникальная настольная карточная игра для знакомства с&nbsp;направлением педиатрия',
    },
    {
      id: '04',
      content: 'Про любовь к&nbsp;детям и&nbsp;педиатрии',
    },
  ];

section.section.promo
  .container.relative
    .promo__slider.slider
      .swiper
        .swiper-wrapper
          each article in articles
            +promo-article(article.id, article.content)
      button.slider__control.slider__control--previous
      button.slider__control.slider__control--next
    .promo__additional
      .promo__item
        .promo__info
          p.promo__index 20
          p.promo__caption встреч с игрой
        .promo__img
          picture
            source(srcset="img/promo/game-pieces-sm.png", type="image/png", media="(max-width: 788px)")
            //- source(srcset="img/promo/game-pieces.png", type="image/png", media="(max-width: 1250px)")
            source(srcset="img/promo/game-pieces.svg", type="image/svg+xml")
            img(src="img/promo/game-pieces.svg", alt="Игральная фишка")
      .promo__item
        .promo__info
          .promo__index 600+
          .promo__caption участников
        .promo__img
          picture
            source(srcset="img/promo/nurse-sm.png", type="image/png", media="(max-width: 788px)")
            //- source(srcset="img/promo/nurse.png", type="image/png", media="(max-width: 1250px)")
            source(srcset="img/promo/nurse.svg", type="image/svg+xml")
            img(src="img/promo/nurse.svg", alt="Медсестра")
          
