section.promo
	.container
		.promo__wrapper
			+special-card('Card Title', 'promo')
				.promo__content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit similique omnis nostrum delectus illo at consequuntur, cumque saepe quae molestiae. Numquam rem possimus qui voluptatum quam distinctio animi quia blanditiis.