@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular);

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	font-size: 20px;
	line-height: 140%;
	color: var(--black);

	@include tablet {
		font-size: 14px;
	}

	@include mobile {
		font-size: 12px;
	}
}

// a, a:link, a:visited {
// 	color: #0F7DFF;
// }

a:focus,
button:focus,
a:active,
button:active {
	// outline-offset: 1px;
	outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

.section {
	padding: 70px 0;

	@include tablet {
		padding: 50px 0;
	}

	@include mobile {
		padding: 20px 0;
	}
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
	clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.no-scroll {
	overflow-y: hidden;
}