:root {
	// Fonts
	--font-family: "Montserrat", Arial, Helvetica, sans-serif;
  --second-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
  --inter-family: "Inter", sans-serif;
  --playfair-family: "Playfair Display", sans-serif;

	// Font-sizes
	--fz-primary: 16px;
	--fz-main: 20px;
	--fz-secondary: 18px;
	--fz-h1: 55px;
	--fz-h2: 36px;
	--fz-h3: 24px;
	--fz-accent: 100px;



	// Colors
	--primary: #f5c3c4;
	--secondary: #FADEDF;
	--white: #fff;
	--black: #252525;
	--gray: #E3E3E3;
	--green: #a1c89f;

	// Color-scheme
	--main-text: var(--black);
	--accent-text: var(--green);
	--bg-base: var(--white);
	--bg-accent: var(--primary);

	// Radius
	--main-radius: 60px;
}