.about-project {
}

.about-project__title {
  margin-bottom: 37px;
  text-align: center;
}

.about-project__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;

  @include tablet {
    flex-direction: column;
    align-items: stretch;
    row-gap: 30px;
  }
}

.about-project__item {
  flex: 1;
}

.about-project__content {
  padding: 50px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  overflow: hidden;

  @include tablet {
    padding: 30px;
  }

  p.restricted {
    width: 387px;

    @include tablet {
      width: 425px;
    }
  }
}

.about-project__diagramm {
}