.about-project {
}

.about-project__title {
  margin-bottom: 37px;
  text-align: center;

  @include tablet {
    margin-bottom: 30px;
  }

  @include mobile {
    margin-bottom: 18px;
  }
}

.about-project__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;

  @include tablet {
    flex-direction: column;
    align-items: stretch;
    row-gap: 30px;
  }

  @include mobile {
    row-gap: 18px;
  }
}

.about-project__item {
  flex: 1;
}

.about-project__content {
  padding: 50px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  overflow: hidden;

  @include tablet {
    padding: 30px;
  }

  @include mobile {
    padding: 20px;
  }

  p {
    width: 90%;

    @include tablet {
      width: 100%;
    }

    &.restricted {
      width: 367px;

      @include tablet {
        width: 425px;
      }

      @include mobile {
        width: 224px;
      }
    }
  }
}

.about-project__diagramm {
  position: absolute;
  bottom: 12px;
  right: 18px;


  @include tablet {
    right: 70px;
    bottom: 2px;
  }

  @include mobile {
    right: 17px;
  }
}