.footer {
  padding: 60px 0;
  background-color: var(--bg-accent);

  font-family: var(--inter-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--main-text);

  @include tablet {
    padding-top: 32px;
    font-size: 12px;
  }

  @include mobile {
    padding-top: 24px;
  }
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @include tablet {
    gap: 20px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.footer__logo {
  width: 244px;

  @include tablet {
    width: 200px;
  }

  @include mobile {
    width: 150px;
  }
}

.footer__content {
  max-width: 444px;

  @include tablet {
    max-width: 340px;
  }

  p {
    text-align: center;
  }
}

.footer__subtitle {
  font-weight: 600;

  @include tablet {
    text-align: center;
  }

  @include mobile {
  }
}

.footer__contacts {
}

.footer__social {
}

.footer__email {
  margin-bottom: 10px;
}