.header {
}

.header__wrapper {
	padding: 24px 0;

	border-bottom: 2px solid var(--gray);

	@include tablet {
		padding: 16px 0;
	}

	@include mobile {
		padding: 10px 0;
		border-width: 1px;
	}
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {

}

.header__nav {
	@include mobile {
		display: none;
	}
}

.header__nav-btn {
	display: none;

	width: 32px;
	height: 32px;
	border-radius: 10px;

	// transition: all .3s ease-in-out;

	@include mobile {
		display: block;
	}

	&:active {
		outline: none;

		transform: scale(.9);
		// transition: all .3s ease-in-out;

		-webkit-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.1);
		-moz-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.1);
		box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.1);
	}

	&.hidden {
		display: none;
	}
	

	img {
		width: 24px;
	}
}

.header__rosmol {
	max-width: 244px;

	@include tablet {
		max-width: 170px;
	}

	@include mobile {
		max-width: 120px;
	}
}