.header {
}

.header__wrapper {
	padding: 30px 0;

	border-bottom: 1px solid var(--gray);
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {

}

.header__nav {

}

.header__warrantor {

}