.header {
}

.header__wrapper {
	padding: 24px 0;

	border-bottom: 2px solid var(--gray);

	@include tablet {
		padding: 16px 0;
	}

	@include mobile {
		padding: 10px 0;
		border-width: 1px;
	}
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {

}

.header__nav {

}

.header__rosmol {
	max-width: 244px;

	@include tablet {
		max-width: 170px;
	}

	@include mobile {
		max-width: 75px;
	}
}