.main-nav {

}

.main-nav__list {
	display: flex;
	column-gap: 80px;

	@include tablet {
		gap: 50px;
	}

	@include mobile {
		gap: 15px;
	}
}

.main-nav__item {

}

.main-nav__link,
a.main-nav__link {
	font-size: 18px;

	color: var(--main-text);
	transition: all .2s ease-in-out;

	@include tablet {
		font-size: 16px;
	}

	@include mobile {
		font-size: 14px;
	}

	&:hover {
		color: #7d7d7d;
		transition: all .2s ease-in-out;
	}
}