.promo {
  background-color: var(--bg-accent);
}

.promo__slider {
  margin-bottom: 50px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include mobile {
    margin-bottom: 20px;
  }
}

.promo__additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;

  @include tablet {
    column-gap: 30px;
  }

  @include mobile {
    column-gap: 20px;
  }
}

.promo__item {
  flex: 1;
  padding: 42px 50px;
  position: relative;

  border-radius: var(--radius-1);
  background-color: var(--bg-base);

  @include tablet {
    padding: 27px 40px;
    border-radius: var(--radius-2);
  }

  @include mobile {
    padding: 12px 12px;
    border-radius: var(--radius-3);
  }
}



.promo__index {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 100px;
  line-height: 120%;
  color: var(--accent-text);

  @include tablet {
    font-size: 63px;
  }

  @include mobile {
    font-size: 30px;
    line-height: 116%;
  }
}

.promo__caption {
  font-size: 20px;
  line-height: 140%;

  @include tablet {
    font-size: 14px;
  }

  @include mobile {
    font-size: 8px;
  }
}

.promo__img {
  position: absolute;
  bottom: 2px;
  right: 55px;

  @include tablet {
    right: 33px;
  }

  @include mobile {
    bottom: 1px;
    right: 15px;
  }

  img {
    height: 272px;

    @include tablet {
      height: 170px;
    }

    @include mobile {
      height: 77px;
    }
  }
  
}