$border-raduis: 60px;
$before-color: transparent;

.special-card {
	min-height: 500px;
	display: flex;
	flex-direction: column;
	border-radius: $border-raduis;
	// overflow: hidden;
	background-color: var(--light-pink);
	// border: 1px solid #000;

	&--promo {
		background-image: url('../img/promo/promo@2x.jpg');
		background-position: center;
		background-size: cover;
	}
}

.speicial-card__header {
	display: flex;
}

.special-card__title {
	font-size: 2rem;
	padding: 50px;
	background-color: #fff;
	border-bottom-right-radius: $border-raduis;
}

.special-card__agregator {
	flex: 1;
	position: relative;
	// background-color: Coral;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: calc($border-raduis * 1.5);
		height: 50%;
		border-top-left-radius: $border-raduis;
		box-shadow: calc($border-raduis * -0.3) calc($border-raduis * -0.3) 0 #fff;

		background-color: $before-color;
	}
}

.special-card__content {
	flex: 1;
	position: relative;
	padding: 50px;
	display: flex;
	flex-direction: column;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: calc($border-raduis * 1.5);
		height: 50%;
		border-top-left-radius: $border-raduis;
		box-shadow: calc($border-raduis * -0.3) calc($border-raduis * -0.3) 0 #fff;

		background-color: $before-color;
	}
}