mixin special-card(title, bgType = 'default')
	if bgType === 'hero'
		.special-card.special-card--hero
			.speicial-card__header
				h2.title.special-card__title !{title}
				.special-card__agregator
			.special-card__content
				block
	else
		.special-card
			.speicial-card__header
				h3.title.title--md.special-card__title !{title}
				.special-card__agregator
			.special-card__content
				block