.slider {
  position: relative;
}

.slider__control {
  position: absolute;
  top: 50%;

  width: 80px;
  height: 80px;

  border: 10px solid var(--bg-accent);
  border-radius: 50%;

  background-color: var(--bg-base);

  @include tablet {
    width: 50px;
    height: 50px;
    border: 6px solid var(--bg-accent);
  }

  @include mobile {
    top: 35%;
    width: 40px;
    height: 40px;
    border: 4px solid var(--bg-accent);
  }

  &::before {
    content: "";
    width: 18px;
    height: 18px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);

    background-image: url('../img/icons/chevron.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include mobile {
      width: 12px;
      height: 12px;
    }
  }

  &--previous {
    left: 0;
    transform: translate(-50%, -50%);

    &::before {
      transform: translate(-60%, -50%) scaleX(-1);
    }
  }

  &--next {
    right: 0;
    transform: translate(50%, -50%);
  }
}