.social__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  @include tablet {
    justify-content: center;
  }
}

.social__item {
}

.social__link,
a.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px;

  width: 40px;
  height: 40px;

  background-color: var(--bg-base);
  border-radius: 50%;

  transition: all .3s ease-in-out;

  @include tablet {
    width: 30px;
    height: 30px;

    img {
      width: 14px;
    }
  }

  &:hover {
    background-color: #07f;
  }

  &:hover img {
    filter: invert(100%);
    transition: all .3s ease-in-out;
  }

  &--tg {
    &:hover {
      background-color: #2ea8d8;
    }
  }
}

a.social__link--tg img {
  transform: translateX(-1px);
}