.special-card {
	--border-raduis: 60px;
	--before-color: transparent;

	@include tablet {
		--border-raduis: 40px;
	}

	@include mobile {
		--border-raduis: 20px;
	}
}

.special-card {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-raduis);
	background-color: var(--secondary);

	&--hero {
		min-height: 500px;
		background-image: url('../img/hero/hero.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 1170px 553px;

		@include tablet {
			min-height: 698px;

			background-size: 1478px 698px;
			background-position-x: 82%;
		}
	}
}

.speicial-card__header {
	display: flex;
}

.special-card__title {
	max-width: 635px;
	padding: 40px;
	background-color: #fff;
	border-bottom-right-radius: var(--border-raduis);

	@include tablet {
		padding: 30px;
	}

	@include mobile {
		padding: 20px;
	}
}

.special-card--hero .special-card__title {
	padding-top: 0;
	padding-left: 0;
}

.special-card__agregator {
	flex: 1;
	position: relative;
	// background-color: Coral;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: calc(var(--border-raduis) * 1.5);
		height: 50%;
		border-top-left-radius: var(--border-raduis);
		box-shadow: calc(var(--border-raduis) * -0.4) calc(var(--border-raduis) * -0.2) 0 5px #fff;

		background-color: var(--before-color);

		@include mobile {
			box-shadow: calc(var(--border-raduis) * -0.4) calc(var(--border-raduis) * -0.2) 0 2px #fff;
		}
	}
}

.special-card__content {
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: calc(var(--border-raduis) * 1.5);
		height: 50%;
		border-top-left-radius: var(--border-raduis);
		box-shadow: calc(var(--border-raduis) * -0.3) calc(var(--border-raduis) * -0.4) 0 5px #fff;

		background-color: var(--before-color);
	}
}